/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2015, 4:53:42 PM
    Author     : APURVA
*/
/*Styling of body*/
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*Styling of map*/
#map-canvas {
    height: 100%; 
    left: 0; 
    position: absolute; 
    top: 0; 
    width: 100%; 
    z-index: 0;
}

/*Height of all input textboxes*/
input {
    border-radius: 10px;
    height: 20px;
}

#locationField, 
#controls {
    position: relative;
    width: 480px;
    z-index: 1;
}

/*Enter address textbox*/
#autocomplete {
    border-radius:  10px;
    height: 20px;
    left: 30px;
    top: 20px;
    width: 359%;
}

/*Labels in table*/
.label {
    color: #303030;
    font-weight: bold;
    text-align: right;
    width: 100px;
}

/*Styling of Table*/
#address { 
    background-color: whitesmoke;
    border-radius: 10px;
    height: 300px;
    margin-left: 80px;
    margin-top: 30px;
    opacity: .85;
    position: relative; 
    width: 400px;
    z-index: 1; 
}

/*Styling of td*/
#address td {
    font-size: 10pt;
}

.field {
    width: 99%;
}

.slimField {
    width: 113px;
}

.wideField {
    width: 134px;
}

#locationField {
    height: 24px;
    margin-bottom: 2px;
    z-index: 2;
}